.image-1{
  margin: 0 auto;
}
.image-1 img{
  margin: 0 15px;
  box-shadow: none;
}
.btn-primary{
  background: #EF5256;
  color: whitesmoke;
  border: none;
}
.btn-primary:hover{
  background: whitesmoke;
  color: firebrick;
}
img{
  box-shadow: 3px 3px 10px grey;
}

.line {
  border-top: 25px solid black;
  margin-top: 35px;
  width: 100%;
}

