.image-1{
  margin: 0 auto;
}
.image-1 img{
  margin: 0 35px;
  box-shadow: none;
}
.button{

}
.btn-outline-primary{
  background: firebrick;
  color: whitesmoke;
}
.btn-outline-primary:hover{
  background: whitesmoke;
  color: firebrick;
}
img{
  box-shadow: 3px 3px 10px grey;
}